<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="./images/MALAAZUL.png" type="image/x-icon">
        <title>EMPREGA AI</title>

        <link href="./css/bootstrap.min.css" rel="stylesheet">

        <link href="./css/bootstrap-icons.css" rel="stylesheet">

        <link href="./css/templatemo-topic-listing.css" rel="stylesheet">  

        <!-- ARQUIVOS DO CSS -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                            
    </head>
    
    <body id="top">

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <img src="./images/Logo_Emprga_Aí-removebg-preview.png" alt="Logo da Empresa" style="height: 50px;">
                        <span>Emprega aí</span>
                    </a>

                    <div class="d-lg-none ms-auto me-4">
                        <a href="" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">Início</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">Vagas disponíveis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/logout">Logout</a>
                            </li>
                        </ul>

                        <div style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                            <% if (usuario) { %>
                                <span>Perfil: <%= usuario.nome %></span> <!-- Exibe o nome do usuário logado -->
                            <% } %>
                        </div>
                    </div>
                </div>
            </nav>
            

            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 mx-auto">
                            <h1 class="text-white text-center">EMPREGA AÍ!</h1>

                            <h6 class="text-center">Entrega seu curriculo aí, que te empregamos aqui!</h6>

                            <form method="get" action="/" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                                <div class="input-group input-group-lg">
                                    <input name="keyword" type="search" class="form-control" id="keyword" placeholder="Digite uma categoria! Ex: Design, Marketing, Educação" aria-label="Search">
                                    <button type="submit" class="form-control">Pesquisar</button>
                                </div>
                            </form>                            
                        </div>
                    </div>
                </div>
            </section>


            <section style="background-color: rgb(100, 188, 159); padding: 20px;">
                <div class="container">
                    <div class="row justify-content-center">
                        <% if (vagas && vagas.length > 0) { %>  <!-- Verifica se vagas tem elementos -->
                            <!-- Item da vaga encontrada -->
                            <div class="row">
                                <% vagas.forEach((vaga) => { %>
                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="/topics-detail/<%= vaga.id_vaga %>">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2"><%= vaga.titulo %></h5>
                                                        <p class="mb-0"><%= vaga.descricao %></p>
                                                    </div>
                                                </div>
                                                <img src="/images/topics/undraw_Remote_design_team_re_urdx.png" class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                        <% } else { %>
                            <p class="text-white text-center">Faça uma pesquisa de categoria nova para ver as vagas disponíveis!</p>
                        <% } %>
                    </div>
                </div>
            </section>                        

            <section class="explore-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="mb-4">VAGAS DISPONÍVEIS</h2>
                        </div>
                    </div>
                </div>
            
                <div class="container-fluid">
                    <div class="row">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">Design</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">Marketing</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane" type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">Finance</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="music-tab" data-bs-toggle="tab" data-bs-target="#music-tab-pane" type="button" role="tab" aria-controls="music-tab-pane" aria-selected="false">Music</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="education-tab" data-bs-toggle="tab" data-bs-target="#education-tab-pane" type="button" role="tab" aria-controls="education-tab-pane" aria-selected="false">Education</button>
                            </li>
                        </ul>
                    </div>
                </div>
            
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content" id="myTabContent">
                                <!-- Tab Design -->
                                <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                                    <div class="row">
                                        <% designVagas.forEach(vaga => { %>
                                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="/topics-detail/<%= vaga.id_vaga %>">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2"><%= vaga.titulo %></h5>
                                                                <p class="mb-0"><%= vaga.descricao %></p>
                                                            </div>
                                                            <span class="badge bg-design rounded-pill ms-auto"><%= vaga.qtdVagas %></span>
                                                        </div>
                                                        <img src="/images/topics/undraw_Graduation_re_gthn.png" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        <% }) %>
                                    </div>
                                </div>
                                <!-- Tab Marketing -->
                                <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="1">
                                    <div class="row">
                                        <% marketingVagas.forEach(vaga => { %>
                                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="/topics-detail/<%= vaga.id_vaga %>">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2"><%= vaga.titulo %></h5>
                                                                <p class="mb-0"><%= vaga.descricao %></p>
                                                            </div>
                                                            <span class="badge bg-marketing rounded-pill ms-auto"><%= vaga.qtdVagas %></span>
                                                        </div>
                                                        <img src="/images/topics/undraw_Remote_design_team_re_urdx.png" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        <% }) %>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="finances-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="2">
                                    <div class="row">
                                        <% financesVagas.forEach(vaga => { %>
                                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="/topics-detail/<%= vaga.id_vaga %>">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2"><%= vaga.titulo %></h5>
                                                                <p class="mb-0"><%= vaga.descricao %></p>
                                                            </div>
                                                            <span class="badge bg-marketing rounded-pill ms-auto"><%= vaga.qtdVagas %></span>
                                                        </div>
                                                        <img src="/images/topics/undraw_Finance_re_gnv2.png" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        <% }) %>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="music-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="3">
                                    <div class="row">
                                        <% musicVagas.forEach(vaga => { %>
                                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="/topics-detail/<%= vaga.id_vaga %>">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2"><%= vaga.titulo %></h5>
                                                                <p class="mb-0"><%= vaga.descricao %></p>
                                                            </div>
                                                            <span class="badge bg-marketing rounded-pill ms-auto"><%= vaga.qtdVagas %></span>
                                                        </div>
                                                        <img src="/images/topics/undraw_Compose_music_re_wpiw.png" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        <% }) %>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="education-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="4">
                                    <div class="row">
                                        <% educationVagas.forEach(vaga => { %>
                                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="/topics-detail/<%= vaga.id_vaga %>">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2"><%= vaga.titulo %></h5>
                                                                <p class="mb-0"><%= vaga.descricao %></p>
                                                            </div>
                                                            <span class="badge bg-marketing rounded-pill ms-auto"><%= vaga.qtdVagas %></span>
                                                        </div>
                                                        <img src="/images/topics/undraw_Educator_re_ju47.png" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        <% }) %>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                        
                    </div>

                </div>
            </div>
        </footer>


        <!-- JAVASCRIPT FILES -->
        <script src="./js/jquery.min.js"></script>
        <script src="./js/bootstrap.bundle.min.js"></script>
        <script src="./js/jquery.sticky.js"></script>
        <script src="./js/click-scroll.js"></script>
        <script src="./js/custom.js"></script>

    </body>
</html>
